body {
background:url(IMAGES/water-texture.png);
font-family:"Arial Narrow";
}

#header{
background:url(IMAGES/web-header-wip.png);
background-repeat: no-repeat;
width: 100%;
height:150px;
}

#container{
width:1400px;
height:auto;
min-width:800px;
}

#leftpanel{
width: 25%;
margin: 10px;
float: left;
border: 2px solid gray;
border-radius: 25px;	
padding: 10px;
background-color: #dbe8f9;
min-width:200px;
max-width: 300px;
}

#rightpanel{
width:65%;
margin: 10px;
background:#ffffff;
border: 2px solid gray;
border-radius: 25px;
padding: 10px;
float:left;
background-image:url(IMAGES/grayscalewater-ripples.png);
}

/* photo divs */
#Stephanie{
	border:1px solid gray;
	width:200px;
	height:225px;
	padding: 10px;
	background-color:#ffffff;
	margin-left:auto;
	margin-right:auto;
}

/* navigation */
ol#navigation {
	width: 1400px;
	height: 2em;
	list-style: none;
	margin: 0;
	padding: 0;
}
ol#navigation li {
	background: url(IMAGES/updatedtabs.png) 100% 0;
	float: left;
	margin: 0 1px 0 0;
	
}
ol#navigation a {
	background: url(IMAGES/updatedtabs.png) 100% 0;
	color: #008;
	display: block;
	padding-right:10px;
	float: left;
	height: 2em;
	line-height: 2em;
	text-decoration: none;
	padding-left: 10px;
}
ol#navigation a:hover {
	background: url(IMAGES/updatedtabs.png) 100% -60px;
	color: #fff000;
	display: block;
	padding-right:10px;
	float: left;
	height: 2em;
	line-height: 2em;
	text-decoration: none;
	padding-left: 10px;
}
ol#navigation li.current {
	background-color: #48f;
	background-position: 0 -60px;
}
ol#navigation li.current a {
	background-position: 100% -60px;
	color: #fff;
	font-weight: bold;
}
